# dependencies
node_modules/

# Next.js build output
.next/
out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# environment variables
.env*.local

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# deployment
.vercel

# misc
.DS_Store
