.badge {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 4px;
  font-family: var(--font-body);
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.default {
  background-color: var(--gray-light-10);
  color: var(--gray-dark-70);
}

.success {
  background-color: var(--valid-light);
  color: var(--valid);
}
